<!DOCTYPE html>
<!--
 Este archivo es parte del Gestor de nodos para LaOtraRed La Paz - El Alto

 Copyright (C) 2017  Rodrigo Garcia

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/imgs/favicon.png">

    <title>Gestor de Nodos "LaOtraRed" La Paz,El Alto</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/justified-nav.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
	<img src="/static/imgs/laotrared_header.png">
        <h5 class="text-muted">Gestor de nodos <b>"LaOtraRed"</b> La Paz - El Alto </h5>

	{% if nodo is defined and nodo != None %}
		<div align="right">
			<b><a href="/nodos/{{ nodo }} ">Ver mi NODO</a></b>
			(<a href="/logout">cerrar sesión</a>)
		</div>
	{% endif %}

        <nav>
          <ul class="nav nav-justified">
		  <li
			  {% if p_actual == "inicio" %}
			  class="active"
			  {% endif %}
		  ><a href="/">Inicio </a></li>
		  
		  <li
			  {% if p_actual == "agregar" %}
			  class="active"
			  {% endif %}
		  ><a href="/agregar">Agregar NODO</a></li>

		  <li
			  {% if p_actual == "nodos" %}
			  class="active"
			  {% endif %}
		  ><a href="/nodos">NODOS</a></li>
		  
		  <li
			  {% if p_actual == "mapa" %}
			  class="active"
			  {% endif %}
		  ><a href="#">MAPA</a></li>

		  <li><a href="https://noticias.lapaz.laotrared.net">Noticias</a></li>		  
		
		  <li
			  {% if p_actual == "acerca de" %}
			  class="active"
			  {% endif %}
		  ><a href="acerca_de">acerca de</a></li>
          </ul>
        </nav>
      </div>

      <!-- Contenido -->
      {% block content %}     
      {% endblock %}
      <!-- --------- -->

      <!-- Site footer -->
      <footer class="footer">
	      <hr>
              &copy; 2017 LaOtraRed La Paz, El Alto
	<div align="right">
	<small>
	  desarrollado con:
	  <a href="http://flask.pocoo.org/" title="flask">
	    <img src="/static/imgs/flask-logo.png" heigth="27" width="98"></a>
	  |
	  <a href="http://getbootstrap.com" title="bootstrap">
	    <img src="/static/assets/brand/bootstrap-solid.jpg" width="19" heigth="19">
	  </a>
	  
	</small>
	</div>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>
