{% extends "base.html" %}

{% block content %}
	<h3>Descargar firmware nodo
 		<a href="/nodos/{{ nodo_id }}" class="label label-success">
		{{ nombre }}
		</a>
	</h3>


{% if nodo is defined and nodo != None %}
	<div class="panel panel-info">
	<div class="panel-body">
		<p>
			Navega y descarga el archivo adecuado para tu enrutador, la imagen de firmware (<img src="/static/imgs/firmware.png" width="24" heigth="24">) termina en <b>-squashfs-factory.bin</b>.
		</p>
		{% if directorios is not defined %}
			{% for carpeta in carpetas %}
				<a href="{{ url }}/{{ carpeta }}">
					<img src="/static/imgs/carpeta.png" width="24" heigth="24">
					{{ carpeta }}/
				</a>
				<br>
			{% endfor %}
		{% else %}
			<a href="/descargas/{{ url }}">
				<big>	&#11014; ..</big>
			</a>
			<br>
			{% for dir in directorios %}
				<a href="{{ url }}/{{ carpeta }}/{{ dir }}/">
					<img src="/static/imgs/carpeta.png" width="24" heigth="24">
					{{ dir }}/
				</a>
				<br>
			{% endfor %}
			{% for arch in archivos %}
				<a href="{{ url }}/{{ carpeta }}/{{ arch }}">
					{% if arch[-4:] == ".bin" %}
						<img src="/static/imgs/firmware.png" width="24" heigth="24">
						<b>{{ arch }}</b>
					{% else %}
						<img src="/static/imgs/archivo.png" width="24" heigth="24">
						{{ arch }}
					{% endif %}

				</a>
				<br>
			{% endfor %}
		{% endif %}
		
	</div>
	</div>

	<p>Si ya tienes la imagen de firmware puedes instalarla en tu enrutador &#8594; <a href="#">ver como instalar</a></p>
	{# <small>Indentificado {{ nodo }}</small> #}

{% else %}

	{% if incorrecto is defined and incorrecto == True %}
		<div class="panel panel-warning">
			<div class="panel-body">
				<span class="text-warning">Para descargar este firmware introduzca la clave de edición de este nodo.</span>
			</div>
		</div>
	{% endif %}

	<div class="row">
	<div class="col-md-4">
	<form action="/descargas/{{ url }}/login" method="POST" class="form-signin">
		<!-- agregar proteccion contra csrf -->
		<!-- <input name="csrfmiddlewaretoken" value="QMLnfWAR0GGoOHCddXXAUTzeU0NkyXlrdxX4Bsqd3Ijwp0hziqDhqcM8R91a9nuD" type="hidden"> -->

		<input name="url" value="{{ url }}" type="hidden">

		<p>
			<label for="password">Clave de edición:</label>
			<input id="id_password" maxlength="254" class="form-control" name="password" type="password" placeholder="password">
		</p>
		<input type="submit" value="Acceder" class="btn btn-lg btn-primary btn-block"/>

	</form>
	</div>
	<div class="col-md-8">
		<p>
			<span style="color: #DDD">..</span>
		</p>
		<div>
			<a href="/nodos/{{ nodo_id }}/recuperar" title="Click para nueva clave">
				>> he olvidado la clave de edición
			</a>
		</div>
	</div>
	</div>
	

{% endif %}


<script type="text/javascript">
{% if nodo is defined and nodo != None %}
Indentificado
document.write("Pronto se implentara");
//alert("Pronto se implentara")
{% else %}
No identificado
	alert("Introduce tu clave de edicion");
{% endif %}
</script>

{% endblock %}
