{% extends "base.html" %}

{% block content %}
	<h1>firmware Generado</h1>
	{% if error is defined and error == "1" %}
		<div class="alert-danger">
			Lamentablemente ha ocurrido un error interno al generar la imagen de firmware.
		</div>
		<p>
			Por favor, informa de este error al equipo desarrollador, enviando un correo electrónico a:
			<ul>
				<li>
					<b>strysg<span style="color:#FAFEFA; font-size:3px">S9,@v-@fa@_</span>@<span style="color:#FAFEFA; font-size:3px">@-912-@</span><span style="color: #125">riseup.net</span></b>

				</li>
				<li>
					<b>work-it<span style="#FAFEFA; font-size:3px; color:#F2EFFA">W6,.v-rf_@_</span>@<span style="color:#FAFEFA; font-size:3px">@8.s2-@</span><span style="color: #116">enmaskarado.com</span></b>

				</li>

			</ul>
			Copia en el correo lo que aparece en la caja a continuación:
			<div class="caja_nodo_proyectado">
				<ul>
					<li><b>Nombre del nodo:</b> {{ nombre_nodo }}</li>
					<li><b>Bloque IPv4 Asignado:</b> {{ bloque_ipv4 }}</li>
					<li><b>Modelo de enrutador:</b> {{ modelo_enrutador }}</li>
					<hr>
					<li><b>Nombre(s) del Responsable:</b> {{ nombres_responsable }}</li>
					<li><b>Apellido(s) del Responsable:</b> {{ apellidos_responsable }}</li>
					<li><b>Correo electrónico:</b> {{ email }}</li>
				</ul>
			</div>
			
		</p>
	{% else %}
	
	<div class="panel panel-body">
		<div class="alert alert-success">
			El proceso ha terminado, recibirás también una notificación en tu correo electrónico <b>{{ email }}</b> para descargarlo cuando quieras
		</div>
	</div>
	<h3>Detalles</h3>
	<div class="caja_nodo_proyectado">
		<ul>
			<li><b>Nombre del nodo:</b> {{ nombre_nodo }}</li>
			<li><b>Bloque IPv4 Asignado:</b> <code>{{ bloque_ipv4 }}</code></li>
			<li><b>Modelo de enrutador:</b> {{ modelo_enrutador }}</li>
			<hr>
			<li><b>Nombre(s) del Responsable:</b> {{ nombres_responsable }}</li>
			<li><b>Apellido(s) del Responsable:</b> {{ apellidos_responsable }}</li>
			<li><b>Correo electrónico:</b> {{ email }}</li>
		</ul>
	</div>

	<a href="/descargas/{{ url_descarga }}" class="btn btn-lg btn-success" title="Click para nueva clave">
		Descarga tu firmware
	</a>

	{% endif %}
	{# --- Muy temporal ---#}
	{# <code> #}
	  {# {{ resultado }} #}
	{# </code> #}
	{# ------------------- #}
	
	<!-- Codigo una vez se reciba el aviso de finalizacion de construcción -->
	<!-- ... -->
{% endblock %}
