{% extends "base.html" %}

{% block content %}
	<h4>LISTA RESUMIDA</h4>
	<a href="#activos">activos</a>({{ num_activos }})
	<a href="#proyectados">proyectados</a>({{ num_proyectados }})

	<h3 id="activos">Nodos activos ({{ num_activos }})</h3>
	{% for nodo in lista_activos|reverse %}
	<div class="caja_nodo_activo">
	<div class="row">
		<div class="col-md-2">
			<b><a href="/nodos/{{ nodo['id'] }}" >{{ nodo['nombre'] }}</a> </b>
		</div>
		<div class="col-md-4">
			IPv4: <code>{{ nodo['bloque_ipv4'] }}</code>
			<br>
			IPv6: <small>{{ nodo['bloque_ipv6'] }}</small>
		</div>
		<div class="col-md-6">
			{{ nodo['descripcion']|e|truncate(120) }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
		{# mostrar solo ubicaciones publicas #}
		{% if nodo['tupla_ubicacion'][4] %}
			
			<i>localidad</i>: {{ nodo['tupla_ubicacion'][0] }},
			<i>zona</i>: {{ nodo['tupla_ubicacion'][1] }},
			<i>dirección</i>: {{ nodo['tupla_ubicacion'][2] }}
		{% else %}
			<li>La ubicación de este nodo no es publica</li>
		{% endif %}
		</div>

		<div class="col-md-2">
		{% if nodo['tupla_ubicacion'][4] %}
			<a href="/ubicacion/{{ nodo['ubicacion_id'] }}">
				Ubicación (mapa)
			</a>
		{% else %}
			Ubicación no pública
		{% endif %}
		</div>

	</div>
	</div>
	{% endfor %}


	<h3 id="proyectados">Nodos proyectados ({{ num_proyectados }})</h3>
	{% for nodo in lista_proyectados|reverse %}
	<div class="caja_nodo_proyectado">
	<div class="row">
		<div class="col-md-2">
			<b><a href="/nodos/{{ nodo['id'] }}" >{{ nodo['nombre'] }}</a> </b>
		</div>
		<div class="col-md-4">
			IPv4: <code>{{ nodo['bloque_ipv4'] }}</code>
			<br>
			IPv6: <small>{{ nodo['bloque_ipv6'] }}</small>
		</div>
		<div class="col-md-6">
			{{ nodo['descripcion']|e|truncate(120) }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
		{# mostrar solo ubicaciones publicas #}
		{% if nodo['tupla_ubicacion'][4] %}
		
			<i>localidad</i>: {{ nodo['tupla_ubicacion'][0] }},
			<i>zona</i>: {{ nodo['tupla_ubicacion'][1] }},
			<i>dirección</i>: {{ nodo['tupla_ubicacion'][2] }}
		{% else %}
			<li>La ubicación de este nodo no es publica</li>
		{% endif %}
		</div>

		<div class="col-md-2">
		{% if nodo['tupla_ubicacion'][4] %}
			<a href="/ubicacion/{{ nodo['ubicacion_id'] }}">
					Ubicación (mapa)
			</a>
		{% else %}
			Ubicación no pública
		{% endif %}
		</div>

	</div>
	</div>
	{% endfor %}

	{% for r in rows %}
		<br>
		{{ r|e }}
	{% endfor %}
	
{% endblock %}
