{% extends "base.html" %}

{% block content %}
	<h3>nodo: 
		{% if is_active == 1 %}
			(Activo)
		{% else %}
			(Proyectado)
		{% endif %}
		"{{ nombre }}" 
	</h3>

	<div>
..
	<p>
	<a href="/descargas/{{ url_descarga }}"	class="class=btn btn-lg btn-success"> 
		descargar Firmware 
	</a>
	</p>
	<span style="color:#eee2e1">..</span>
	</div>

	{% if is_active == 1 %}
	<div class="caja_nodo_activo">
	{% else %}
	<div class="caja_nodo_proyectado">
	{% endif %}
	<div class="row">
		<div class="col-md-5">
			Nombre: <b>{{ nombre }}</b>
			<br>
			Bloque IPV4: <code>{{ bloque_ipv4 }}</code>
			<br>
			Dirección RED: <code>{{ ipv4_network_addr }}</code>
			<br>
			Máscara RED: <code>
				{{ ipv4_cidr }}
				{% if ipv4_cidr == 24 %}
255.255.255.0
				{% elif ipv4_cidr == 25 %}
255.255.255.128
				{% elif ipv4_cidr == 26 %}
255.255.255.192
				{% elif ipv4_cidr == 27 %}
255.255.255.224
				{% elif ipv4_cidr == 28 %}
255.255.255.240

				{% endif %}
			</code>
			<br>
			Bloque IPV6: <code>{{ bloque_ipv6 }}</code>
						
		</div>
		<div class="col-md-7">
			<b>Descripción:</b>
			<div>
			{% for line in descripcion.splitlines() %}
				{{ line }}
				<br>
			{% endfor %}
			</div>
			<hr width="54%">
			<b>Fecha de registro:</b> {{ fecha_creacion }}
			<br>
			<b>Responsable:</b>  {{ nombres }} {{ apellidos }}
			<br>
			<b>EMAIL:</b> {{ email }}
			<br>
			<b>teléfono registrado:</b> {{ telf }}
		</div>
	</div>
	
	<h4>Detalles de Ubicación proporcionada</h4>
	La Ubicación de este nodo es pública: 
	{% if ubicacion[9] == 1 %}
		<span class="label label-info">SI</span>
	{% else %}
		<span class="label label-warning">NO</span>
	{% endif %}
	<a href="#ayuda_ubicacion">
	<img src="../static/imgs/pregunta.png"  width="24" height="24"
		title="¿Qué es esto?">

	</a>
	<br><br>
	<div class="row">
		<div class="col-md-2">
			<b>ciudad, localidad:</b> {{ ubicacion[1] }}
			<p>
				<b>Zona o Barrio:</b> {{ ubicacion[2] }}
			</p>
			<p>
				<b>Dirección:</b> {{ ubicacion[3] }}
			</p>
			<br>
			
		</div>
		<div class="col-md-10">
			<a href="{{ ubicacion[4] }}">MAPA</a>
			<br>
			<iframe src="{{ ubicacion[5] }}" width="525" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border: 1px solid black""> </iframe>
			
			<br>
			<b>Elevación aproximada:</b>
			{{ ubicacion[6] }}
			<br>
			<b>latitud, longitud:</b> {{ ubicacion[7] }}, {{ ubicacion[8] }}
		</div>
	</div>
	
	</div>

	<h4>NOTAS</h4>
	<p id="ayuda_ubicacion">

		Cuando la Ubicación <span class="label label-info">SI</span> es pública, culaquiera podrá ver los datos de Ubicación que se proporcionen, <b>esto ayuda mucho</b> a otros a planificar enlaces con tu nodo. Cuando <span class="label label-warning">NO</span> es pública, no se mostrará ningún dato de Ubicación a los visitantes.
	</p>
{% endblock %}
