body {
  padding-top: 20px;
  /*background-color: #E5E5EA;*/
  background-color: #EDEEDB;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */
.caja_nodo_proyectado {
  background-color: #F1F4C3;
  border-top-style: solid;
  border-top: 3px solid;  
  border-top-color: #D3E2B1;
  padding: 8px;
}
.caja_nodo_activo {
  background-color: #D3F7B8;
  border-top-style: solid;
  border-top: 3px solid;  
  border-top-color: #A3E281;
  padding: 8px;
}


.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #555;
  text-align: center;
	/*background-color: #D2DBEC; /* Old browsers */
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#D2DBEC), to(#B8C2D6));
  background-image: -webkit-linear-gradient(top, #D2DBFC 0%, #B8C2D6 100%);
  background-image:      -o-linear-gradient(top, #D2DBFC 0%, #B8C2D6 100%);
  background-image:         linear-gradient(to bottom, #D2DBFC 0%,#B8C2D6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D2DBFC', endColorstr='#B8C2D6',GradientType=0 ); /* IE6-9 */

	background-color: #EBE7A0; /* Old browsers */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F4ED6A), to(#EBE7A0));
	background-image: -webkit-linear-gradient(top, #F4ED6A 0%, #EBE7A0 100%);
	background-image:      -o-linear-gradient(top, #F4ED6A 0%, #EBE7A0 100%);
	background-image:         linear-gradient(to bottom, #F4ED6A 0%,#EBE7A0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDe786', endColorstr='#EBE7A0', GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.25);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.25);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
